@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  background-color: #212121;
  color: #fafafa;
  font-size: 18px;
}
p {
  width: 80%;
  text-align: left;
  line-height: 1.5;
}
code,
pre {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  margin: 0;
}
code b {
  color: #ff4a5e;
}
code .comment {
  color: #6d6d6d;
}
#container {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.first-page {
  height: 95%;
  min-height: 95%;
}
.second-page {
  color: #212121;
  height: 90%;
  min-height: 90%;
}
.third-page {
  height: 95%;
  min-height: 95%;
  overflow: hidden;
}
#container-horizontal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}
.first-page-horizontal {
  width: 100%;
  min-width: 100%;
  background-color: #ff4a5e;
  display: flex;
  flex-direction: row;
  padding: 0 3rem;
}
.first-page-paragraph {
  width: 50%;
}
.second-page-horizontal {
  width: 100%;
  min-width: 100%;
  background-color: #c93849;
  align-items: start;
}
.second-page-paragraph {
  width: 100%;
  padding-left: 10%;
  margin: 4rem 0;
}
.second-page-paragraph p {
  width: 50%;
}
.hint {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.credits {
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
}
.credits a {
  color: #ff4a5e;
  text-decoration: none;
}
.credits a:hover {
  color: #c93849;
  text-decoration: underline;
}
.bind,
.unbind {
  margin: 0 5px;
}
.highlight {
  color: inherit;
  text-decoration: none;
  padding: 2px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
a.highlight:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.third-page .highlight {
  background-color: rgba(255, 255, 255, 0.1);
}
.third-page a.highlight:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.logo {
  background: url('assets/logo.svg') center no-repeat;
  background-size: contain;
  max-width: 80%;
  width: 450px;
  height: 350px;
}
.scroll {
  background: url('assets/scroll.svg') center no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
}
.arrow-big {
  background: url('assets/arrow-down.svg') center no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  pointer-events: none;
  opacity: 0.5;
}
.arrow-big.right {
  bottom: 20px;
  right: 15px;
  animation: leftright 1s infinite alternate-reverse;
}
.arrow-big.left {
  top: 20px;
  left: 15px;
  animation: rightleft 1s infinite alternate-reverse;
}
.second-page-horizontal .snippet {
  width: 100%;
  min-width: 100%;
  background-color: #212121;
}
.second-page-horizontal .snippet code {
  width: 100%;
  padding-left: 4rem;
  background-color: #212121;
}
.snippet {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.snippet code {
  overflow: auto;
  background-color: #212121;
  color: #eceff4;
  text-align: left;
  display: block;
  padding: 20px;
  border-radius: 5px;
  font-family: monospace;
}
.snippet code pre {
  margin: 0;
}
.github {
  background: url('assets/github.svg') center no-repeat;
  background-size: contain;
  position: absolute;
  right: -100px;
  bottom: -100px;
  z-index: 2;
  width: 400px;
  height: 400px;
  opacity: 0.1;
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 16px;
  }
  code {
    font-size: 14px;
  }
  p {
    width: 90%;
  }
  .snippet {
    margin: 0;
  }
  .scroll {
    height: 60px;
    width: 60px;
  }
  .first-page-paragraph {
    width: 90%;
    margin-bottom: 4rem;
  }
  .second-page-paragraph {
    width: 90%;
  }
  .second-page-paragraph p {
    width: 100%;
  }
  .first-page-horizontal {
    align-items: start;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .first-page-horizontal {
    padding: 0;
  }
  .first-page-paragraph {
    padding-left: 5%;
  }
  .snippet {
    width: 100%;
  }
  .snippet code {
    border-radius: 0;
  }
  .second-page-horizontal {
    padding: 1rem 0;
  }
  .second-page-paragraph {
    padding-left: 5%;
  }
  .second-page-horizontal .snippet code {
    padding-left: 1rem;
  }
  .arrow-big.left {
    display: none;
  }
}

@media screen and (min-width: 1500px) {
  .page {
    padding: 0 10rem;
  }
}

@keyframes leftright {
  0% {
    transform: rotate(270deg) translateY(-20px);
  }
  100% {
    transform: rotate(270deg) translateY(0px);
  }
}

@keyframes rightleft {
  0% {
    transform: rotate(90deg) translateY(-20px);
  }
  100% {
    transform: rotate(90deg) translateY(0px);
  }
}
