@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

html,
body {
  margin: 0;
  font-family: Inter, -apple-system, system-ui, sans-serif;
  background-color: #f0f0f0;
  color: #303030;
  letter-spacing: -0.05rem;
  font-size: 16px;
  font-weight: 400;
}
p {
  width: 80%;
  text-align: left;
  line-height: 1.5;
}
code,
pre {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  margin: 0;
}
a:hover {
  text-decoration: underline;
}
code .comment {
  color: #6d6d6d;
}
h1 {
  font-size: 5em;
}
b {
  display: inline-block;
  font-weight: 500;
}
h1 {
  font-weight: 500;
}
h2 {
  font-size: 1.5em;
  line-height: 1.3;
  font-weight: 500;
}
h3 {
  font-weight: normal;
  font-size: 1.3em;
  opacity: 0.8;
  margin: 0;
}
.title {
  font-size: 3rem;
  text-align: center;
}
.subtitle {
  opacity: 0.8;
  font-size: 1.4rem;
}
.text-center {
  text-align: center;
}
.monospace {
  font-family: 'JetBrains Mono', monospace;
}
.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #f0f0f0;
  z-index: 999;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 15px 20px;
}
.header-title {
  font-size: 1.2rem;
}
.links {
  display: flex;
  flex-direction: row;
}
.links a {
  margin: 0 5px;
}
.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: url('assets/logo.svg') center no-repeat;
  background-size: contain;
}

.first-page a {
  text-decoration: none;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  background-color: #212121;
}
.container-inner {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.container-content {
  padding: 20px;
  font-size: 1.1rem;
}
.container-title {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
#container {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.first-page {
  height: 95vh;
  min-height: 95vh;
}
.second-page {
  height: 90vh;
  min-height: 90vh;
}
#container-horizontal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}
.first-page-horizontal {
  width: 100%;
  min-width: 100%;
  display: flex;
  padding: 0 3rem;
}
.first-page-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  width: 90%;
  max-width: 1100px;
  margin: auto;
}
.second-page-horizontal {
  width: 100%;
  min-width: 100%;
  align-items: start;
}
.second-page-paragraph {
  margin: 4rem auto;
}
.hint {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.credits {
  position: absolute;
  bottom: 0;
  background-color: #e2e2e2;
  padding: 20px 0;
  margin: 0 auto;
  font-weight: 500;
  font-size: 0.85rem;
  width: 100%;
  text-align: center;
}
.credits a {
  color: #000000;
  text-decoration: none;
}
.credits a:hover {
  text-decoration: underline;
}
.highlight {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 999px;
}
a.highlight:hover {
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
}
.scroll {
  background: url('assets/scroll.svg') center no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
}
.arrow-big {
  background: url('assets/arrow-down.svg') center no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 25px;
  pointer-events: none;
  opacity: 0.8;
}
.arrow-big.right {
  bottom: 50%;
  top: 50%;
  right: 15px;
  animation: leftright 1s infinite alternate-reverse;
}
.first-page-paragraph code {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.first-page-paragraph code b {
  color: #212121;
}
code b {
  color: #4aaeff;
}
.second-page-horizontal .snippet {
  width: 100%;
  min-width: 100%;
  background-color: #212121;
}
.second-page-horizontal .snippet code {
  width: 100%;
  background-color: #212121;
}
.snippet {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.snippet code {
  width: 100%;
  overflow: auto;
  background-color: #212121;
  color: #eceff4;
  text-align: left;
  display: block;
  padding: 20px;
  font-family: monospace;
}
.snippet code pre {
  margin: 0;
}
.github {
  background: url('assets/github.svg') center no-repeat;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.3em;
  }
  code {
    font-size: 13px;
  }
  p {
    width: 90%;
  }
  .snippet {
    margin: 0;
  }
  .hint {
    display: none;
  }
  .first-page-paragraph {
    width: 90%;
  }
  .first-page-horizontal {
    align-items: start;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .first-page-horizontal {
    padding: 0;
  }
  .snippet {
    width: 100%;
  }
  .container-inner {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 350px) {
  html,
  body,
  code,
  pre {
    font-size: 12px;
  }
}

@keyframes leftright {
  0% {
    transform: rotate(270deg) translateY(-20px);
  }
  100% {
    transform: rotate(270deg) translateY(0px);
  }
}
